<!DOCTYPE html>
<html>
<head>

    <title>DroneLogServer</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>


<div id="mapid" style="width: 100%; height: 100%;"></div>
<script>

    var mymap = L.map('mapid').setView([57.01313018035709, 9.991430319089478], 13);

    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
        maxZoom: 18,
        attribution: '',
    }).addTo(mymap);


    function percentage(battery) {
        let percentage = battery / 100;

        let g = percentage * 255;
        let r = (1 - percentage) * 255;

        return "rgb(" + r + " ," + g + ",0)";
    }

    $.get('/log', function (points) {
        let polylines = L.featureGroup();

        for (var i = 0; i < points.length - 1; i++) {
            let point = points[i];
            let next_point = points[i + 1];

            let from = [point['lat'], point['lon']];
            let to = [next_point['lat'], next_point['lon']];

            let polyline = L.polyline(
                [from, to],
                {
                    color: percentage(point['battery'])
                }
            );

            polylines.addLayer(polyline);
        }

        polylines.addTo(mymap);
        mymap.fitBounds(polylines.getBounds());
    });

</script>


</body>
</html>
